
// Colours

$fab-main-background: #126EE2FF;
$fab-box-shadow-background: #81A4F1FF;
$fab-border: #126EE2FF;
$fab-hover-background: #2C87E8FF;
$fab-hover-shadow: #81A4F1FF;

$fab-action-background: #8806BA98;
$fab-action-box-shadow: rgba(178, 54, 234, 0.6);
$fab-action-hover-background: rgb(206, 126, 248);
$fab-action-hover-shadow: rgba(174, 73, 248, 0.6);


//Floating button
.fab-wrapper {
  position: fixed;
  bottom: 30px;
  right: calc(50% - 15px);
}
.fab-checkbox {
  display: none;
}
.fab {
  position: absolute;
  bottom: 2rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $fab-main-background;
  box-shadow: 0px 5px 20px $fab-box-shadow-background;
  transition: all 0.3s ease;
  z-index: 1;
  //border-bottom-right-radius: 6px;
  border: 1px solid $fab-border;
}

.fab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab-checkbox:checked ~ .fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.fab:hover {
  background: $fab-hover-background;
  box-shadow: 0px 5px 20px 5px $fab-hover-shadow;
}

.fab-icon {
  top: 50%;
  left: 50%;
  color: white;
  font-size: 2rem;
  transform: translateX(-50%) translateY(-50%);
  //animation-delay: 0.4s;
  position: absolute;

  //transform: translateX(0%) translateY(-50%) rotate(0deg);
}

.fab-wheel {
  position: absolute;
  bottom: 3rem;
  right: 0;
  //border: 1px solid;
  width: 8rem;
  height: 8rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}

.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}
.fab-action {
  position: absolute;
  background: $fab-action-background;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem $fab-action-box-shadow;
  transition: all 1s ease;
  opacity: 0;
}

.fab-checkbox:checked ~ .fab-wheel .fab-action {
  opacity: 1;
}

.fab-action:hover {
  background-color: $fab-action-hover-background;
  box-shadow: 0 5px 20px 5px $fab-action-hover-shadow;
  color: white;
}

.fab-wheel .fab-action-1 {
  right: -4rem;
  top: 0;
  font-size: 1.5rem;
}

.fab-wheel .fab-action-2 {
  right: 2rem;
  top: 0;
  font-size: 1.5rem;
}
.fab-wheel .fab-action-3 {
  left: 0.5rem;
  bottom: 3.4rem;
}
.fab-wheel .fab-action-4 {
  left: 0;
  bottom: -1rem;
}

// Floating button end