textarea.form-control {
    min-height: calc(1.5em + 3.5rem + 2px);
}

.btn-style-extra {
    --bs-btn-padding-x: 4rem;
    --bs-btn-padding-y: .8rem
}

.btn-outline-secondary-extra{
    width: 100%;
}

.btn-outline-primary-extra{
    width: 100%;
}

.btn-group-vertical-extra{
    width: 100%;
}